@mixin vertical {
	writing-mode: vertical-lr;
	direction: rtl;

	&::-webkit-slider-thumb {
		transform: rotate(-90deg) translateY(100%);
		transform-origin: bottom left;
	}
	&::-moz-range-thumb {
		transform: rotate(-90deg) translateY(100%);
		transform-origin: bottom left;
	}
}

@mixin thumb {
	&::-webkit-slider-thumb {
		@content;
	}
	&::-moz-range-thumb {
		@content;
	}
}

@mixin track {
	&::-ms-track {
		@content;
	}
	&::-webkit-slider-runnable-track {
		@content;
	}
	&::-moz-range-track {
		@content;
	}
}

@mixin progress {
	&::-moz-range-progress {
		@content;
	}
}

@mixin reset {
	appearance: none;
	background: transparent;

	&:focus {
		outline: none;
	}

	@include thumb {
		appearance: none;
		background-color: transparent;
		color: transparent;
		user-select: none;
	}

	@include track {
		appearance: none;
		width: 100%;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
		user-select: none;
		margin: 0;
		padding: 0;
	}

	@include progress {
		appearance: none;
		user-select: none;
	}
}
